html, body {
  height: 50%;
  margin: 0;
}

.auth-background {
  /*background-image: url('../assets/bg.png');*/
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  position: relative;
}

.auth-overlay {
  position: fixed; /* Use fixed instead of absolute */
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}
